
<h1> Add a new item </h1>

<form action="/add_item_row">
<div>
  <label for="link">Link URL</label>
  <input id="link" name="link_url" placeholder="Enter a URL..." type="text">
</div>
	
<div>
  <label for="desc">Link Description</label>
  <input id="desc" name="desc" placeholder = "Enter a link description..." type=text">
</div>

<div>
  <label for="thumbnail">Thumbnail URL</label>
  <input id="thumbnail" name="thumbnail" placeholder="Enter a thumbnail URL..." type="text" >
</div>
	
  <button>Create item</button>
</form>
